doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Drills
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Weather Forecase Drill
      input#zip
      button#addzip Add Zip Code

      #forecast
      select#dropDown
        option(value='pick') Pick One
      button#getForecast Get Forecast

    #tom
